.references {
  position: relative;
  .references-item {
    .references-item-photo-wrapper {
      width: 165px;
      position: relative;
      margin: 0 auto;
      &:after {
        content: '';
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAvCAYAAAChd5n0AAACZ0lEQVRoQ+2Y3W1TQRCFv4kbcAnugFjYz4QKgAowFcQdJFQAVEBSAVAB5jk3MlSAqAD8jhm0kxvLcu7PzNoBKdqR/HT3zuyZc+bcXQvB0CVDlEcoJ/a7iWNgKBMkmM61XJccs+YJWL0hMLKf8lqmnKck7sJ1slNg1lb9kECsYX84Ra1e2vjdiADRJSPWvK+70dnBQwAxAL85Q5j30uUFohWJgURdorM39gWiV5wg1rRmBnZ34AGilSVslVETqn2A6DUz1Gr6ow9IDggbuMxhzwKRCnYB0Yq3YJIKRw6Q2kSW4WJdQLTiOfAhK2kGIzbYa757Z/DOvpoYqZOmzvgGrQFtlJF92LfyjUCuOEc4y2UjOiO1rSc28qMRSMXPbIrrrUQY0YoL4GU+igZGsl0DVsAC5asxUh8X+jZXyzg1Lie+oXysX1zIlIXVNqlV9uBZMOsnBsxkzK/ge2Q2LgGY3258t+YtEA1u5lImsY/ldv6Mxq0YMOpqmtTHgs8BIL1J+3JpZZbrd0fhlTy2mWoN0WvmKG/6im+ebzmF+52thRlu9UMm/aAl7B7K0zadeoBlKOCdTPpPwklaC8QuLa6IWGxTwrAC4IVMNi7VIa2IXpUvMt3cCl3Adxdp9MM7YCzjG3vvnpEKv2P9ByBeBaQZ+bdAgqfr+wECrsHrksB9zWSUkc2/Fn2abXtegBx42B8II3DBUfdRwRonrNosMyotjnx2H5sR72B02HQYiLNmAdLZqMKIU0cNy4q0irSC1wav2Iq0irSKtA55Q/ROXvkgejt1d11xreJaxbWKa+U7CMV+85v3YOz3L+KFld2+PTX2AAAAAElFTkSuQmCC") no-repeat;
        width: 50px;
        height: 47px;
        position: absolute;
        top: 0px;
        right: -30px;
      }
    }

    .references-item-photo {
      width: 165px;
      height: 165px;
      border-radius: 50%;
      line-height: 160px;
      margin: 0 auto;
      position: relative;
      overflow: hidden;

      .references-item__photo {
        max-height: 165px;
      }
    }

    .references-item__name {
      color: #000000;
      font-family: "MuseoSansBold";
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      margin-top: 25px;
      margin-bottom: 20px;
    }

    .references-item__post {
      color: #000000;
      font-family: "MuseoSansRegular";
      font-size: 16px;
      font-weight: 100;
      text-align: center;
    }

    .references-item__information {
      color: #000000;
      font-size: 16px;
      font-style: italic;
      padding-left: 30px;
      line-height: 24px;
      p {
        &:first-child {
          margin-top: 0px;
        }
      }
    }
  }

  .references-nav {
    position: absolute;
    width: 50px;
    bottom: -20px;
    left: 115px;
    z-index: 1;
    .references-nav-prev {
      width: 11px;
      height: 20px;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAUCAYAAABbLMdoAAAAw0lEQVQ4T4WTURHCMBAFtwpAAg7AAeAAHFAHOCk4AAegABwADpBQHDBvJsdcj6TJZ7ubvuReG+prB3TAuqmwC+CRmH4MFngDpgluS3AEj8A+B0fwDCg3EZ6ljPbpHxhhAcqonbUGoIcjeAU28aYUI4IvYAX0OfgOLNOLImgxPPzUpHK7GqwYEuZp96JgVxeFC7DNZbZnUTgBrRfiUCS8gUmCBkJp3DrDnzBWJC8Ui2QxNXYvFCvqBSv/p/anSFI9D6rAF5pkKRTsydXgAAAAAElFTkSuQmCC") no-repeat;
      position: absolute;
      left: 0px;
      top: 0px;
      cursor: pointer;
      &.disabled {
        opacity: 0.5;
        &:hover {
          background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAUCAYAAABbLMdoAAAAw0lEQVQ4T4WTURHCMBAFtwpAAg7AAeAAHFAHOCk4AAegABwADpBQHDBvJsdcj6TJZ7ubvuReG+prB3TAuqmwC+CRmH4MFngDpgluS3AEj8A+B0fwDCg3EZ6ljPbpHxhhAcqonbUGoIcjeAU28aYUI4IvYAX0OfgOLNOLImgxPPzUpHK7GqwYEuZp96JgVxeFC7DNZbZnUTgBrRfiUCS8gUmCBkJp3DrDnzBWJC8Ui2QxNXYvFCvqBSv/p/anSFI9D6rAF5pkKRTsydXgAAAAAElFTkSuQmCC") no-repeat;
        }
      }

      &:hover {
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAUCAYAAABbLMdoAAAA5ElEQVQ4T4WT0REBMRRFzxv+6cSaiW+2AzrY7UAJVIAO6IAK1r8xSwWUsP6ZGNksIdmVz+Tcm/deboQ/Sx9J0CxoEUsTq3MiHuSWKWphC2ZA18BCGoQ9UDOXATMP9kDYiCIpzZ2lc7o8uLyvdsAv2IB3MoTI6t+OlZ9xDoA7UYx/JyUB8EyLkfQpfPjAHmFoD2pBU7N2Yc2JNnHItYTLCeyBnnFvEHwadAWwFcXEq7na8G6AtShSVxB6lCvQsdCXoO65Xz14gqYguYKVKKb/IvoR1EXUadoN/63xp5ixl99q+YrAE2AkZN6dp89cAAAAAElFTkSuQmCC") no-repeat;
      }
    }

    .references-nav-next {
      width: 11px;
      height: 20px;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAUCAYAAABbLMdoAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACISURBVDhPpZOBDUAwEEXLBEYwgpGMZAM2YAQbsAkb8H/SSy6idy0/eRrx31WiAtKBE/S88cLiFaFohhOlTNEVBlAkjOCX0AAzWtiBK8wgW+DDDXwW1hoXK1VczXAqt5ap3CH5GgvIKk6guHiAFrzmWUx+bn2QzKI+omaRYUHK7kljgYLzW4VwAzHWP4NVNYU0AAAAAElFTkSuQmCC") no-repeat;
      position: absolute;
      right: 0px;
      top: 0px;
      cursor: pointer;
      &.disabled {
        opacity: 0.5;
        &:hover {
          background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAUCAYAAABbLMdoAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACISURBVDhPpZOBDUAwEEXLBEYwgpGMZAM2YAQbsAkb8H/SSy6idy0/eRrx31WiAtKBE/S88cLiFaFohhOlTNEVBlAkjOCX0AAzWtiBK8wgW+DDDXwW1hoXK1VczXAqt5ap3CH5GgvIKk6guHiAFrzmWUx+bn2QzKI+omaRYUHK7kljgYLzW4VwAzHWP4NVNYU0AAAAAElFTkSuQmCC") no-repeat;
        }
      }

      &:hover {
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAUCAYAAABbLMdoAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAD+SURBVDhPjVLbEQFBEOy9808IRIAiACIgA2QgBCmIgAyEgG8UIrnz72r17IPa2uV01dZsX/XM9NwO9BU9fUapL5ijBkqEjE3DcvRVHzdzTyCDwtLdgQoH6eRYhEwNsGVcW8oONQkGtLPh0e6UqQTlooEkMPhBH5yhzRlkJoPMRQM1xIJBbAm8pZbjYWUPdtgxTC3DnR1G0iEtlmpP7FnK+7YJjkSIEjSOgecIKrT53QaH47VrP/BVGxinK1fmjwRCGTAS80+IcGLJRyg0sOGEM8soyNFJPkpC+K4YQJ+wotjvRZHaCwNZ+r+EhCx/wWjfv3b56Y2x5KiLX0IAeAHP93TwWvfADgAAAABJRU5ErkJggg==") no-repeat;
      }
    }
  }
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
  .references {
    margin-bottom: 100px;
    .references-nav {
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    .references-item {
      .references-item__post {
        margin-bottom: 30px;
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
